/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    behaviors {
        // Поведения для слоев
        lt1: layer_tap {
            quick-tap-ms = <150>;
            flavor = "balanced";
            tap-ms = <200>;
            bindings = <&mo 1>, <&kp SPACE>;
        };
        
        lt2: layer_tap {
            quick-tap-ms = <150>;
            flavor = "balanced";
            tap-ms = <200>;
            bindings = <&mo 2>, <&kp TAB>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Базовый слой (QWERTY)
        default_layer {
            bindings = <
                // Row 0 - Top row
                &kp Q         &kp W         &kp E         &kp R         &kp T         &kp Y         &kp U
                // Row 1 - Home row
                &kp A         &kp S         &kp D         &kp F         &kp G         &kp H         &kp J
                // Row 2 - Bottom row
                &kp Z         &kp X         &kp C         &kp V         &kp B         &kp N         &kp M
                // Row 3 - Thumb keys
                &lt1          &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI      &kp BKSP       &lt2
                // Row 4 - Bottom thumb keys
                &kp ESC       &kp ENTER     &kp SPACE     &kp TAB       &kp DEL       &kp UP        &kp DOWN
                // Row 5 - Side keys
                &kp LEFT      &kp RIGHT     &kp HOME      &kp END       &kp PGUP      &kp PGDN       &kp INS
            >;
        };

        // Слой 1 - Numbers and Symbols
        layer_1 {
            bindings = <
                // Row 0
                &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp N6        &kp N7
                // Row 1
                &kp N8        &kp N9        &kp N0        &kp MINUS     &kp EQUAL     &kp LBRC      &kp RBRC
                // Row 2
                &kp GRAVE     &kp BSLH      &kp SEMI      &kp QUOTE     &kp COMMA     &kp DOT       &kp FSLH
                // Row 3
                &trans        &kp RSHFT     &kp RCTRL      &kp RALT      &kp RGUI      &kp BKSP      &trans
                // Row 4
                &kp ESC       &kp ENTER     &kp SPACE     &kp TAB       &kp DEL       &kp UP        &kp DOWN
                // Row 5
                &kp LEFT      &kp RIGHT     &kp HOME      &kp END       &kp PGUP      &kp PGDN      &kp INS
            >;
        };

        // Слой 2 - Function Keys and Media
        layer_2 {
            bindings = <
                // Row 0
                &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6        &kp F7
                // Row 1
                &kp F8        &kp F9        &kp F10       &kp F11       &kp F12       &kp BT_NXT    &kp BT_PRV
                // Row 2
                &kp BT_SEL    &kp BT_CLR    &kp OUT_TOG   &kp OUT_USB   &kp OUT_BLE   &kp RGB_TOG   &kp RGB_HUI
                // Row 3
                &trans        &kp RSHFT     &kp RCTRL      &kp RALT      &kp RGUI      &kp BKSP      &trans
                // Row 4
                &kp ESC       &kp ENTER     &kp SPACE     &kp TAB       &kp DEL       &kp VOLU      &kp VOLD
                // Row 5
                &kp MUTE      &kp PLAY      &kp STOP      &kp PREV      &kp NEXT      &kp RGB_SAI   &kp RGB_SAD
            >;
        };
    };
};
