/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp NUMBER_0 &kp NUMBER_1 &kp NUMBER_2 &kp NUMBER_3 &kp NUMBER_4 &kp NUMBER_5
                &kp NUMBER_6 &kp NUMBER_7 &kp NUMBER_8 &kp NUMBER_9 &kp KP_N0 &kp KP_N1
                &kp KP_N2 &kp KP_N3 &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_N7
                &kp KP_N8 &kp KP_N9 &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N3
            >;
        };
    };
};