/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 0
                &kp Q         &kp W         &kp E         &kp R         &kp T
                // Row 1
                &kp A         &kp S         &kp D         &kp F         &kp G
                // Row 2
                &kp Z         &kp X         &kp C         &kp V         &kp B
                // Row 3
                &mo 1         &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI
                // Row 4
                &kp ESC       &kp ENTER     &kp SPACE     &kp TAB       &kp DEL
                // Row 5
                &kp LEFT      &kp RIGHT     &kp HOME      &kp END       &kp PGUP
            >;
        };

        layer_1 {
            bindings = <
                // Row 0
                &kp N1        &kp N2        &kp N3        &kp N4        &kp N5
                // Row 1
                &kp N6        &kp N7        &kp N8        &kp N9        &kp N0
                // Row 2
                &kp MINUS     &kp EQUAL     &kp LBRC      &kp RBRC      &kp BSLH
                // Row 3
                &trans        &kp RSHFT     &kp RCTRL      &kp RALT      &kp RGUI
                // Row 4
                &kp ESC       &kp ENTER     &kp SPACE     &kp TAB       &kp DEL
                // Row 5
                &kp LEFT      &kp RIGHT     &kp HOME      &kp END       &kp PGUP
            >;
        };
    };
};
