// config/boards/shields/matrix_finder/matrix_finder.keymap

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/matrix/keymap.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            // Первая строка (соответствует первому пину в row-gpios)
            &kp Q      &kp W      &kp E      &kp R      &kp T
            // Вторая строка
            &kp A      &kp S      &kp D      &kp F      &kp G
            // Третья строка
            &kp Z      &kp X      &kp C      &kp V      &kp B
            // Четвертая строка
            &kp LCTRL  &kp LALT   &kp LGUI   &kp SPACE  &kp BSPC
            >;
        };
    };
};