if SHIELD_IPACMAN_CORNE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "ipacman Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_IPACMAN_CORNE_LEFT || SHIELD_IPACMAN_CORNE_RIGHT

config ZMK_SPLIT
    default y

endif
