if SHIELD_IPACMAN_CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "ipacman Corne (Left)"

endif # SHIELD_IPACMAN_CORNE_LEFT

if SHIELD_IPACMAN_CORNE_RIGHT

config ZMK_KEYBOARD_NAME
    default "ipacman Corne (Right)"

endif # SHIELD_IPACMAN_CORNE_RIGHT
