/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 0
                &kp Y         &kp U         &kp I         &kp O         &kp P
                // Row 1
                &kp H         &kp J         &kp K         &kp L         &kp SEMI
                // Row 2
                &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
                // Row 3
                &kp RGUI      &kp RALT      &kp RCTRL     &kp RSHFT     &mo 1
                // Row 4
                &kp BKSP      &kp ENTER     &kp SPACE    &kp TAB       &kp ESC
                // Row 5
                &kp PGDN      &kp END       &kp HOME     &kp RIGHT     &kp LEFT
            >;
        };

        layer_1 {
            bindings = <
                // Row 0
                &kp N6        &kp N7        &kp N8        &kp N9        &kp N0
                // Row 1
                &kp MINUS     &kp EQUAL     &kp LBRC      &kp RBRC      &kp BSLH
                // Row 2
                &kp GRAVE     &kp BSLH      &kp SEMI      &kp QUOTE     &kp COMMA
                // Row 3
                &kp RGUI      &kp RALT      &kp RCTRL     &kp RSHFT     &trans
                // Row 4
                &kp BKSP      &kp ENTER     &kp SPACE    &kp TAB       &kp ESC
                // Row 5
                &kp PGDN      &kp END       &kp HOME     &kp RIGHT     &kp LEFT
            >;
        };
    };
};
